@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
} */

.otpInput {
	width: 50px !important;
	height: 60px;
	margin: 4px;
	background-color: #def7e5;
	color: black;
	outline: none;
	font-size: 20px;
}
@media screen and (max-width: 375px) {
	.otpInput {
		margin: 2px;
		width: 40px !important;
		height: 50px !important;
	}
	.otpContainer {
		width: 180px;
	}
}
.otpContainer {
	justify-content: center;
	width: 200px;
	align-items: center;
	margin: auto;
}

.nav:hover {
	color: black !important;
	background: #def7e5;
}
.nav {
	transition: background-color 0.2s ease-in-out;
	position: relative;
	color: black;
	text-decoration: none;
	outline: 0;
	font-weight: 400;
	border-radius: 8px;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0.7em;
}
.nav:active {
	background: #484848;
}
.link:active:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -0.6em;
	left: 50%;
	margin-left: -0.75em;
	border-left: solid 0.75em transparent;
	border-right: solid 0.75em transparent;
	border-home: solid 0.6em #282828;
}
.buton {
	font-size: 1.875rem;
	padding: 0.75rem;
	color: white;
}
.buton:hover {
	background-color: #f3f4f6;
	filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.sidebar {
	width: 18rem;
	position: fixed;
	left: 0;
	top: 0;
	background-color: white;
}
.notSideBar {
	width: 0;
}
.employees {
	margin: 2px;
	padding: 2px;
	background-color: white;
	border-radius: 40px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
	.employees {
		margin: 10px;
		padding: 10px;
		border-radius: 60px;
	}
}

.employees {
	margin-top: 24px;
}
